<h1>Popular Movies</h1>
<div class="row">
  <div class="col-lg-2" *ngFor="let movie of popularMovies">
    <app-movie [movie]="movie"></app-movie>
  </div>
</div>

<h1>In Theaters</h1>
<div class="row">
  <div class="col-lg-2" *ngFor="let movie of inTheaterMovies; let i = index">
    <app-movie [movie]="movie" (idBtnEmitter)="btnIdClick($event)"></app-movie>
  </div>
</div>


<h1>Kids Favorites</h1>
<div class="row">
  <div class="col-lg-2" *ngFor="let movie of kidsFavoritesMovies">
    <app-movie [movie]="movie"></app-movie>
  </div>
</div>
<h1>Drama</h1>
  <div class="row">
    <div class="col-lg-2" *ngFor="let movie of dramaMovies | async">
      <app-movie [movie]="movie"></app-movie>
    </div>
  </div>
<h1>Best Drama</h1>
  <div class="row">
    <div class="col-lg-2" *ngFor="let movie of bestDramaMovies$ | async">
      <app-movie [movie]="movie"  (idBtnEmitter)="btnIdClick($event)"></app-movie>
    </div>
  </div>

